body {
  background-color: #0F0F1A;
  color: #F1F1F1;
  font-family: monospace;
  text-align: center;
  padding-top: 100px;
}

h1 {
  color: #00F0FF;
  font-size: 3rem;
}

p {
  color: #9D4EDD;
}

.terminal {
  background-color: #1A1A2E;
  padding: 20px;
  margin: 20px auto;
  width: 70%;
  border-radius: 10px;
}
